#
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) The original authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

project:
  name: silat-cli
  description: Silat Workflow Engine CLI
  longDescription: A command-line interface for managing Silat workflow engine
  links:
    homepage: https://github.com/kayys/silat
  authors:
    - Kayys Tech Team
  license: Apache-2.0

release:
  github:
    owner: kayys
    name: silat
    overwrite: true
    changelog:
      formatted: ALWAYS
      preset: conventional-commits
      contributors:
        enabled: true
        format: '- {{contributorName}}{{#contributorUsernameAsLink}} ({{contributorUsernameAsLink}}){{/contributorUsernameAsLink}}'

distributions:
  silat-cli:
    type: SINGLE_JAR
    artifact:
      path: target/{{distributionName}}-{{projectVersion}}-runner.jar
      transformName: '{{distributionName}}-{{projectVersion}}.jar'
    executable:
      windowsExtension: exe
    java:
      mainClass: tech.kayys.silat.cli.SilatCli

signing:
  active: RELEASE
  armored: true

packagers:
  brew:
    active: RELEASE
    formulaName: silat-cli
    homepage: https://github.com/kayys/silat
    description: Silat Workflow Engine CLI
    dependencies:
      - name: openjdk
        minimumVersion: '21'
    extraProperties:
      skipCategory: true

  scoop:
    active: RELEASE
    bucket:
      owner: kayys
      name: silat
    homepage: https://github.com/kayys/silat
    description: Silat Workflow Engine CLI
    license: Apache-2.0

  jbang:
    active: RELEASE
    file: src/main/jbang/silat-cli.java

  nativeImage:
    active: RELEASE
    distributions:
      - silat-cli

uploadAssets:
  githubReleases:
    active: RELEASE
    files:
      - path: 'target/**/silat-cli-*-runner.jar'
      - path: 'target/**/silat-cli-*-runner.exe'
      - path: 'target/**/silat-cli-*-native-image-*'